[user]
	name = Brandon
	email = your-email@example.com

[init]
	defaultBranch = main

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	ignorecase = false

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = true

[rebase]
	autoStash = true

[merge]
	tool = nvimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false
	keepBackup = false

[diff]
	tool = nvimdiff
	colorMoved = default

[alias]
	# Basic shortcuts
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	df = diff
	dc = diff --cached
	
	# Commit shortcuts
	cm = commit -m
	ca = commit --amend
	can = commit --amend --no-edit
	
	# Logging
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate --numstat
	ls = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	
	# Branch management
	bd = branch -d
	bD = branch -D
	bm = branch -m
	branches = branch -a
	
	# Working with remotes
	p = push
	pl = pull
	f = fetch
	fa = fetch --all
	
	# Stash operations
	sl = stash list
	sp = stash pop
	ss = stash save
	sd = stash drop
	
	# Reset shortcuts
	unstage = reset HEAD --
	uncommit = reset --soft HEAD~1
	discard = checkout --
	
	# Show what I did today
	today = log --since=midnight --author='Brandon' --oneline
	
	# Find commits by commit message
	find = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
	
	# Show aliases
	aliases = config --get-regexp alias
	
	# Interactive rebase
	reb = "!r() { git rebase -i HEAD~$1; }; r"
	
	# Cleanup merged branches
	cleanup = "!git branch --merged | grep -v '\\*\\|main\\|master\\|develop' | xargs -n 1 git branch -d"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[include]
	path = ~/.gitconfig.local