# EditorConfig is awesome: https://editorconfig.org
root = true

# Global defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

max_line_length = off

# Languages that conventionally use 2 spaces
[*.{js,jsx,ts,tsx}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.{css,scss,sass,less}]
indent_size = 2

[*.{html,vue,svelte}]
indent_size = 2

# Go
[*.go]
indent_style = tab
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = 80
